{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],"react","stage-0"
  ],
  "comments": false,// 忽略注释
  "plugins": [
    "transform-object-rest-spread",// 对象展开符 
    "transform-decorators-legacy",//装饰模式插件
    [
      "import", {"libraryName": "antd", "style": true}
    ]
  ]
}